@import "tailwindcss";

.poppins-regular {
     font-family: "Poppins", sans-serif;
     font-weight: 400;
     font-style: normal;
}

.container {
     overflow: auto;
     -ms-overflow-style: none;
     scrollbar-width: none;
}

.container::-webkit-scrollbar {
     display: none;
}